
<ion-content class="content-page content-gradient" scrollX="true" scrollY="true">
	<div class="header">
      <ion-avatar>
      <img src="../../assets/img/nsl_logo.svg" width="150px" height="150px">
		</ion-avatar>
		<h3>
		Olá, somos a pastoral da Caridade temos orgulho de te convidar a participar da nossa família...
		</h3>
	</div>
		
	<div class="footer">
			<ion-button expand="block" class="cta" color="orange" (click)="begin()">Quero me cadastrar</ion-button>
			<ion-button expand="block" class="cta low" color="white" (click)="login()" >Já tenho cadastro</ion-button>
		</div>
</ion-content>
