
<ion-content class="content-page content-gradient" scrollX="true" scrollY="true">
  <div padding id="relatorio_doacao-layer">
    <form [formGroup]="relatorioDoacaoForm" autocomplete=”off” accept-charset="utf-8">
      <ion-row>
        <ion-col>
          <ion-list style="background-color: transparent !important">
            <ion-item [class.activated]="descricao" ><ion-label><h3>{{descricao}}</h3></ion-label>
              <ion-select style="background-color: transparent !important" multiple="false" cancelText="Cancela" okText="Selecione" formControlName="codInstituicao">
              <ion-select-option *ngFor="let institution of allInstitutions" value="{{institution.id}}">{{institution.nome}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-label><h3>data inicio</h3></ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-label><h3>data Fim</h3></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
      <ion-row>
        <ion-col size="6" size-sm>
            <ion-item [class.activated]="startDate">
              <ion-input type="date"  style="background-color: transparent !important" formControlName="startDate"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col size="6" size-sm>
            <ion-item [class.activated]="endDate">
              <ion-input type="date" formControlName="endDate"></ion-input>
            </ion-item>
        </ion-col>
      </ion-row>
      </ion-grid>
      
      <ion-button expand="block" class="cta" color="orange" (click)="atualizaUser()" [disabled]="!relatorioDoacaoForm.valid">PRÓXIMO</ion-button>
      <ion-button expand="block" class="cta low" color="white" (click)="backMenu()">Voltar</ion-button>
    </form>
  </div>
</ion-content>
