
<ion-content class="content-page" scrollX="true" scrollY="true">
  <ion-header>
    <ion-row align-items-center>
      <ion-col size="4">
        <img src="../../assets/img/logo_nsl.png">
      </ion-col>
      <ion-col size="8" color="blue">
        <ion-label><h1>Relatório de Doações {{ nome }}</h1></ion-label>
      </ion-col>
    </ion-row>
  </ion-header>
  <div>
    <ion-item color="blue">
      <ion-text>
        <h4>Quantidade de Produtos: {{ quanTotal }}</h4>
        <p></p>
      </ion-text>
    </ion-item>
  </div>

  <div padding id="relatorio-layer">
    <ion-row align-items-center>
      <ion-list lines="full">
        <ion-item *ngFor="let doacao of allDoacoes">
          <ion-label><h5>Produto: {{ doacao[1] }} qtd: {{ doacao[2] }}</h5></ion-label>
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row align-items-center>
      <ion-col>
        <ion-button expand="block" class="cta" color="orange" (click)="backMenu()">Voltar</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
