<ion-content padding class=”loginPage” scroll=”false”>
  <div padding id="login-layer">
    <form [formGroup]="loginForm" (ngSubmit)="localizaUsuario()" autocomplete=”off” >
      <ion-row align-items-center>
        <ion-col>
          <ion-avatar>
            <ion-img src="/assets/slides/tour/tour-yellow.svg"></ion-img>
          </ion-avatar>
          <ion-note color="medium">
            <br />
            Olá vamos acessar seu cadastro ?
            <br />
            <br />
            Basta informar seu e-mail, o mesmo utilizado no seu cadastro.
          </ion-note>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list inset>

            <ion-item>
              <ion-label color="primary" position="floating">Email</ion-label>
              <ion-input type="text" placeholder="Informe seu email" formControlName="email" required></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

        <div class="footer">
					<ion-button expand="block" class="cta" color="orange" type="submit" [disabled]="!loginForm.valid">PRÓXIMO</ion-button>
				</div>

    </form>
  </div>
</ion-content>
